*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


.container .left-side {
    position: relative;
    background: brown;
    width: 450px;
    padding: 40px;
}

.ProfileTexte{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ProfileTexte h2{
    font-family: 'Courier New', Courier, monospace;
}
.ProfileTexte .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.ProfileTexte .imgBx img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileTexte h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight:600;
    line-height: 1.5em;

}
.ProfileTexte h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;
}

.title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
    
}

.contactInfo ul li {
 position: relative;
 list-style: none;
 margin: 10px 0;
 cursor: pointer;
}

.contactInfo ul li .icon{
display: inline-block;
width: 30px;
font-size: 15px;
color: rgb(255, 161, 161);
}
.contactInfo ul li span {
    color: #fff;
    font-weight: 300;

}
.contactInfo.education h5{
    color: rgb(255, 161, 161);
    font-weight: 500;
    margin-bottom: 10px;
}

.contactInfo.education{
    margin-bottom: 15px;
}

.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}
.contactInfo-education li{
    color: #fff;
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(255, 161, 161);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #333;
}
.container .right-side {
    position: relative;
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform:uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.box .year_company h5{
    text-transform:capitalize;
    width: 100px;
    height: 20px;
   
}

.box .autres p{
    width: 200%;
    height: 50%;
}

p{
    color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: rgb(255, 161, 161);
    font-weight: 600;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: rgb(255, 79, 79);
    font-weight: 500;
}

.skills .box .percent {
    position:relative;
    width: 90%;
    height:10px;
    margin-left: 35px;
    background: rgb(255, 161, 161);
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #003147;
}
.interest ul{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: rgb(255, 161, 161);
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px){
    .container{
       margin: 10px;
       grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }

.about .box{
    flex-direction: column;
}
.about .box .year_company{
    grid-template-columns: repeat(1,1fr);
}
}
    
